/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body {
  font-family: arial;
}
#container {
  font-family: arial;
  background-image: url("./travel_board_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-right: 2%;
}
/* Sets the background image for the wheel */
td.the_wheel {
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: none;
}

/* Do some css reset on selected elements */
h1,
p {
  margin: 0;
}

/* Styles for the power selection controls */
table.power {
  background-color: #cccccc;
  cursor: pointer;
  border: 1px solid #333333;
}

table.power th {
  background-color: white;
  cursor: default;
}

/* Style applied to the spin button once a power has been selected */
/* Other misc styles */
.margin_bottom {
  margin-bottom: 5px;
}
